<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div>
    <b>Enter the intranet: </b><a href="/customers">customers</a>
    <a href="/logout">Logout</a>
</div>
<div>
    <form id="frm" name method="post" action="/token">
        <input type="hidden" name="username" value="user1">
        <input type="hidden" name="password" value="1">
        <input type="submit" value="token">
    </form>
</div>
</body>
</html>